In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV

In [2]:
from sklearn.metrics import r2_score,classification_report

In [3]:
df1 = pd.read_csv('data/vif-clean-winequality-red.csv') # Data without multicollinear factors
df2 = pd.read_csv('data/clean-winequality-red.csv') # Data without outliers and multicollinear factors

In [4]:
df1['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [5]:
df2['quality'].value_counts()

5    522
6    521
7    142
4     34
Name: quality, dtype: int64

If Quality equals 0,1,2,3,4,5 change Quality to 0 else set Quality to 1

In [6]:
df1['quality'] = df1['quality'].apply(lambda x: 0 if x in[0,1,2,3,4,5] else 1)
df1.head()

,Unnamed: 0,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH,sulphates,alcohol,quality,outlier_check
0,0,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,0,0
1,1,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,0,0
2,2,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,0,0
3,3,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,1,0
4,4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,0,0

In [7]:
df2['quality'] = df2['quality'].apply(lambda x: 0 if x in[0,1,2,3,4,5] else 1)
df2.head()

,Unnamed: 0,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH,sulphates,alcohol,quality,outlier_check
0,0,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,0,0
1,1,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,0,0
2,2,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,0,0
3,3,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,1,0
4,4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,0,0

In [8]:
features = list(set(df1.columns) - set(['Unnamed: 0','quality','outlier_check']))
print(features)

['free sulfur dioxide', 'sulphates', 'chlorides', 'pH', 'citric acid', 'residual sugar', 'volatile acidity', 'total sulfur dioxide', 'alcohol']

In [9]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(df1[features].values, df1['quality'].values
                                                    , test_size=0.30, random_state=101)

In [10]:
log_reg = LogisticRegression(multi_class='multinomial',solver='lbfgs',max_iter=10000).fit(X_train_1,y_train_1)
log_reg_cv5 = LogisticRegressionCV(cv=5,multi_class='multinomial',solver='lbfgs',max_iter=10000).fit(X_train_1,y_train_1)
log_reg_cv10 = LogisticRegressionCV(cv=10,multi_class='multinomial',solver='lbfgs',max_iter=10000).fit(X_train_1,y_train_1)

In [11]:
y_preds = log_reg.predict(X_test_1)
y_preds_cv5 = log_reg_cv5.predict(X_test_1)
y_preds_cv10 = log_reg_cv10.predict(X_test_1)

In [12]:
print(classification_report(y_test_1,y_preds))

              precision    recall  f1-score   support

           0       0.78      0.69      0.73       232
           1       0.74      0.81      0.77       248

   micro avg       0.75      0.75      0.75       480
   macro avg       0.76      0.75      0.75       480
weighted avg       0.76      0.75      0.75       480

In [13]:
print(classification_report(y_test_1,y_preds_cv5))

              precision    recall  f1-score   support

           0       0.76      0.71      0.73       232
           1       0.75      0.79      0.77       248

   micro avg       0.75      0.75      0.75       480
   macro avg       0.75      0.75      0.75       480
weighted avg       0.75      0.75      0.75       480

In [14]:
print(classification_report(y_test_1,y_preds_cv10))

              precision    recall  f1-score   support

           0       0.76      0.71      0.73       232
           1       0.74      0.79      0.77       248

   micro avg       0.75      0.75      0.75       480
   macro avg       0.75      0.75      0.75       480
weighted avg       0.75      0.75      0.75       480

Logistic Regression of data without outliers

In [15]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(df2[features].values, df2['quality'].values
                                                    , test_size=0.30, random_state=101)

In [16]:
log_reg2 = LogisticRegression(multi_class='multinomial',solver='lbfgs',max_iter=1000).fit(X_train_2,y_train_2)
log_reg_2cv5 = LogisticRegressionCV(cv=5,multi_class='multinomial',solver='lbfgs',max_iter=1000).fit(X_train_2,y_train_2)
log_reg_2cv10 = LogisticRegressionCV(cv=10,multi_class='multinomial',solver='lbfgs',max_iter=1000).fit(X_train_2,y_train_2)

In [17]:
y_preds2 = log_reg2.predict(X_test_2)
y_preds_2cv5 = log_reg_2cv5.predict(X_test_2)
y_preds_2cv10 = log_reg_2cv10.predict(X_test_2)

In [18]:
print(classification_report(y_test_2,y_preds2))

              precision    recall  f1-score   support

           0       0.70      0.72      0.71       168
           1       0.76      0.74      0.75       198

   micro avg       0.73      0.73      0.73       366
   macro avg       0.73      0.73      0.73       366
weighted avg       0.73      0.73      0.73       366

In [19]:
print(classification_report(y_test_2,y_preds_2cv5))

              precision    recall  f1-score   support

           0       0.70      0.70      0.70       168
           1       0.75      0.75      0.75       198

   micro avg       0.73      0.73      0.73       366
   macro avg       0.72      0.72      0.72       366
weighted avg       0.73      0.73      0.73       366

In [20]:
print(classification_report(y_test_2,y_preds_2cv10))

              precision    recall  f1-score   support

           0       0.70      0.70      0.70       168
           1       0.75      0.75      0.75       198

   micro avg       0.73      0.73      0.73       366
   macro avg       0.72      0.72      0.72       366
weighted avg       0.73      0.73      0.73       366